.App {
  text-align: center;
  background-color: rgba(40, 44, 52,0.9);
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  font-family: 'Roboto', sans-serif;
  color:white;


}

.forecast{
  display:flex;
  flex-direction: row;
}

.forecast-button{
  position: relative;
  margin-top:125px; /*Usando top:50% no se posiciona correctamente*/
  transform: translateY(-50%);
  height:30px;
  text-align: center;
  vertical-align: middle;
  width:30px;
  background: rgb(40, 44, 52);
  border-radius: 4px;
  font-size:25px;
  border: 1px double white
}

.weather-widget{
  height: auto;
  width: auto;
  margin:30px;
  border: 1px solid whitesmoke;
  display: flex;
  flex-direction: row;
  background: rgb(40, 44, 52)

}
.flexleft{
  position: relative;
  top:50%;
  transform: translateY(-50%);
  text-align:center;
  vertical-align: middle;
  margin: 5px 0 0 20px;

}
.flexright{
  margin-left:20px;
  margin-right: 10px;
  text-align:left;

}


.location-widget{
  position: relative;
  text-align: left;
  top:0;
  left:0;
  margin: 10px;

}

.App-logo {
  animation: App-logo-spin infinite 5s cubic-bezier(0.075, 0.82, 0.165, 1);
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
